<!DOCTYPE html>
<html>
<head>
    <style>
        .btn-outline-success,.btn-outline-info{
        color: #ff9a9e!important;
        border-color:#ff9a9e!important;
        
        }
  
        </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
        <div class="mx-auto jumbotron text-center mx-auto " style="background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);"> 
                <h1 class="display-2 ">Weekly Update</h1>
                <h4 class=" "><strong>Industry 4.0</strong></h4>
            </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse   " id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href={% url "user_index" %}>Submit</a>
                    </li>
                    <li class="nav-item ">
                            <a class="nav-link" href={% url "user_history" %}>History<span class="sr-only">(current)</span></a>
                          </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href={% url "index" %}>Porject Name</a>
                            <a class="dropdown-item" href={% url "user-oldToNew" %}>Old to New</a>
                            <a class="dropdown-item" href={% url "user-newToOld" %}>New to Old</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={% url "user_index" %}>Submit My Work</a>
                      </div>
                    </li>
                      </ul>
                  <div class="form-inline my-2 my-lg-0">
                        <a  class="btn btn-outline-success btn-block btn-lg my-2 my-sm-0" href={% url "user_index" %}>Go to Submission Box</a>
                    
                  </div>
                </div>
              </nav>
  



<div class="container">     
       


              <div class="row">
                    {%for update in admin%}
                    <div class="col-sm-6 mb-3 mt-3">
                      <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">{{update.Project_Name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{update.Project_DueDate}}</h6>
                          <p class="card-text">{{update.Project_Detail}}</p>
                          <a class="btn btn-outline-info " target="_blank" href={% url 'index' %}media/{{update.Admin_File_Upload}}>Download File Here</a>
                        </div>
                      </div>                     
                    </div>
                    {%endfor%}
                  </div>
            </div> 

        
           
   

        
</div>

<footer class="mt-5 page-footer font-small bg-light" >

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="http://alan-wu.com/">AW</a>
        </div>
        <!-- Copyright -->
      
      </footer>

</body>
</html>